/*head css  */
head {
    font-family: Verdana;
    letter-spacing: 1.1;
    background-color: chartreuse;

}

/*body css  */
body {
    font-family: Verdana;
    letter-spacing: 1.3;
    background-color: indigo;
    align-items: center;
}

#banner {
    width: 100%;

    height: 405px;
    background-color: purple;
    background-position: center;
}


a[href] {
    color: whitesmoke;
}

.navBar{
    background-color: yellow;
    overflow: hidden;
}

.navBar{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}



.navBar-right{
    float: right;
}



/* Home  Button */
.homeBTN {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.homeBTN:hover {
    background-color: indigo;
    text-decoration: chartreuse;
}


.productBTN {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.productBTN:hover {
    background-color: indigo;
    text-decoration: chartreuse;
}

.gamingBTN {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.gamingBTN:hover {
    background-color: indigo;
    text-decoration: chartreuse;
}

.formBTN {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.formBTN:hover {
    background-color: indigo;
    text-decoration: chartreuse;
}

/*start of columns*/

.HeadsetDisplayer {
    float: left;
    width: 30%;
    padding: 5px;
    position: fixed;

}

.DesktopDisplayer {
    float: left;
    width: 30%;
    padding: 5px;
    position: fixed;

}

.monitorDisplayer {
    float: left;
    width: 30%;
    padding: 5px;
    position: fixed;
}

/*end of columns*/
img {
    width: 100px;
}

.footer {

    position: fixed;
    bottom: 0%;
    background-color: rgba(255, 255, 0, 0.989);
    border: 2px solid rgba(255, 255, 0, 0.989);
}

.Footerlinks {
    display: block;
    position: fixed;
    bottom: 0%;
    color: whitesmoke;
}

.footer a {
    color: indigo;
}

.CopyRightBox {
    font-size: 14px;
    font-family: Arial;
    color: #ffffff;
    text-align: right;
}

.sideBar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    background-color: yellow;
    overflow: hidden;
    padding-top: 20px;
}

