/*head css  */
head 
{
    font-family: Verdana;
    letter-spacing: 1.1;
    background-color: chartreuse;
}

/*body css  */
body 
{
    font-family: Verdana;
    letter-spacing: 1.3;
    background-color: indigo;
    align-items: center;
}



a[href] 
{
    color: whitesmoke;
}

.footer 
{
    background-color: yellow;

}

.menubar {
    background-color: yellow;
    text-decoration: white;
}

/* Home  Button */
.homeBTN 
{
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.homeBTN:hover {background-color: indigo;}


.productBTN 
{
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.productBTN:hover {background-color: indigo;}

.gamingBTN
{
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.gamingBTN:hover {background-color: indigo;}

.formBTN
{
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    width: 10rem;
    height: 4rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This will change the color when the user hovers over the button, indicating to the user which button they're hovering over*/
.formBTN:hover {background-color: indigo;}


